@import "vars.css";

header{
    background-color: var(--background_green);
    display: inline-block;
    height: 100%;
    width: 98%;
    color: white;
    padding: 10px;
    border-radius: 10px;
    vertical-align:middle;
}  

#login {
    margin: 20px;
}

#login img {
    float: left;
    height:100px;
    width:100px;
}

header #heading h1{
    height: 100%;
    width: 22%;
    float:left;
    border-color: white;
    border-style: solid;
    vertical-align:middle;
    text-align:center;
    overflow:hidden}

/* #heading h1 {text-align: center;
            vertical-align:middle;
            height:100%;}
 */
/* Start of layout of sidebar and main content base */

#sidebar-main-content { /* This lets us put the sidebar and main content side by side easily */
    display: flex;
    height: 100vh;
}

#sidebar-icon{
    height: 30px;
    width:30px;
    float:right;
    margin-top:5px;
}

#sidebar-icon:hover{
    background-color:grey;
    border-radius:5px;
}

.sidebar {
    background-color: var(--background_green);
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    display:none; 
    z-index: 1;
    height: fit-content;
    overflow-x:hidden;
    margin-top:5px;
    text-align:center;
    max-width: fit-content;
    min-width: fit-content;
}

button:hover{
    background-color: #0c2403;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: fit-content;
}

.sidebar ul li {
    padding: 0;
    margin: 0;
}

#main {
    background-color: white;
    width: 100%;
    padding: 20px;
    color: black;
}

/* End of layout of sidebar and main content base */

button {
    margin: 10px;
    background-color: #236807;
    border-color: white;
    color: white;
}

#login {
    float: right
}

a{
    color:black;
    font-weight: bold;
}

