@import "vars.css";

header{
    background-color: var(--background_green);
    display: inline-block;
    height: 100%;
    width: 100%;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

#login {
    margin: 20px;
}

#login img {
    float: left;
    height:100px;
    width:100px;
}

header #heading{
    height: 22%;
    width: 22%;
    float:left;
    border-color: white;
    border-style: solid;}

#heading h1 {text-align: center}

/* Start of layout of sidebar and main content base */

#sidebar-main-content { /* This lets us put the sidebar and main content side by side easily */
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: var(--background_green);
    margin-right: 20px;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: fit-content;
}

.sidebar ul li {
    padding: 0;
    margin: 0;
}

#main {
    background-color: white;
    width: 100%;
    padding: 20px;
    color: black;
}

/* End of layout of sidebar and main content base */

button {
    margin: 10px;
    background-color: #236807;
    border-color: white;
    color: white;
}

#login {
    float: right
}

