#profile-head img{
    height:100px;
    width:100px;
    text-align: left;
    display: inline-block;
}

#profile-info{
    display:inline-block;
    
}

#profile-posts-comments-container {
    margin: auto;
}

.post img{
    display:inline;
    max-height:200px;
    max-width:35%;
    width:auto;
    height:auto;
}

.post span{
    text-align:left;
    display: inline;
    
}

.comment{
    text-decoration: none;
}
