#profile-head img{
    height:100px;
    width:100px;
    text-align: left;
    display: inline-block;
}

#profile-info{
    display:inline-block;
    
}

#profile-posts-comments-container {
    margin: auto;
}

.post img{
    display:inline;
    max-height:200px;
    width:auto;
    height:auto;
    object-fit: contain;
}

.post span{
    text-align:left;
    display: inline;
    
}

.comment{
    text-decoration: none;
}

.post{
    max-width: 100%;
    height: auto;
}

#profile-recent-posts{
    display: flex;
    justify-content: space-between;
    width: 70vw;
}

#profile-head a{
    float:right;
}

#profile-head{
    position:relative;
}

#profile-info{
    position:relative;
    top:0;
    right:0;
    
}
