
/*border style properties found at: https://www.w3schools.com/css/css_border.asp */
#post{
    border-color: black;
    border-style: solid;
    margin-left: 12%;
}
#caption {margin-left: 1%;}
#title_and_image{
    border-color: black;
    border-left-style: none;
    border-right-style:none;
    border-top-style: none;
    border-bottom-style: solid;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
#title_and_image img{max-height:100%;
                    max-width:100%;
                    max-height:50vh;
                    margin-top: 1%;
                    margin-bottom: 1%;}
#like_and_comment{
    border-color: black;
    border-left-style: none;
    border-right-style:none;
    border-top-style: solid;
    border-bottom-style: none;
    display:flex;
}

#like_and_comment_info{
    float: right;
    margin-right: 10px;
}
#comments_section{
    clear: both;
    border-color: black;
    border-style: solid;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 12%;
}
#comments_section h1{
    margin-left: 1%;
}
#comment_info{
    border-color: black;
    border-left-style: none;
    border-right-style:none;
    border-top-style: none;
    border-bottom-style: solid;
}
#like_comment{
    border-color: black;
    border-left-style: none;
    border-right-style:none;
    border-top-style: solid;
    border-bottom-style: none;
    display:flex;
}
#like_comment p{
    float: right;
    margin-right: 10px;
}
#user_info{
    float:left;
    margin-left: 1%
}
#time_info{
    float:right;
    margin-right: 10px;
}
#comment_text{
    clear: both;
    border-top-style: solid;
}
#comment_text p{
    margin-left: 1%
}

#comment_form{
    display: none;
}

#more_like_info{
    position:absolute;
    top:40%;
    left:30%;
    max-height:50%;
    max-width: 50%;
    background-color: white;
    color:green;
    width:50%;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    visibility: hidden;
    border-style:solid;
}