.post{
    color: #236807;
    border: 2px black solid;
    height: fit-content;
    width: 300px;
    margin-bottom: 10px;
    max-width:300px;
    width:100%;
}

.pic{
    height: 300px;
    width: 300px;
    object-fit: contain;
    max-height:100%;
    max-width:100%;
    
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, min(100%/3, max(300px, 100%/5))));
    
}



