header{background-color: #236807;
        display: inline-block;
        height: 100%;
        width: 100%;
        color: white;
        padding: 10px;
        margin-bottom: 20px;}

#login {
        margin: 20px;}

#login img {float: left;}

header #heading{height: 22%;
                width: 22%;
                float:left;
                border-color: white;
                border-style: solid;}

#heading h1 {text-align: center}

.sidebar{background-color: #236807;
        margin-right: 20px;
        width: 11%;
        height: 11%;
        float: left;}
#login button {margin: 10px;
        background-color: #236807;
        border-color: white;
        color: white;}

.sidebar button {margin: 10px;
        background-color: #236807;
        border-color: white;
        color: white;}

#login {float: right}