{% load static %}
<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>The Pet Project - {% block title_append %} Page name goes here {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
        {% block embedded-css %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="heading">
            <h1>The Pet Project</h1>
            </div>
            <div id="login">
            {% if user.logged_in %}
            <button>Logout</button>
            <img src="img_link" alt="Profile picture">
            {% else %}
            <button>Login/Sign Up</button>
            {% endif %}
            </div>
        </header>
        <div class="sidebar">
            <button>Homepage</button>
            <button>View Posts</button>
            {% if user.logged_in %}
            <button>Upload Post</button>
            {% endif %}
        </div>
        <div id = "main">
        {% block main_content %}
            Content of page goes here
        {% endblock %}
    </div>
    </body>
</html>