{% load static %}
<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>The Pet Project - {% block title_append %} Page name goes here {% endblock %}</title>
        <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
        {% block embedded-css %}
        {% endblock %}
    </head>
    <body>
        <header>
            <div id="heading">
            <h1>The Pet Project</h1>
            </div>
            <div id="login">
            {% if user.logged_in %}
            <button>Logout</button>
            <img src="img_link" alt="Profile picture">
            {% else %}
            <button>Login/Sign Up</button>
            {% endif %}
            </div>
        </header>
        <section id="sidebar-main-content">
            <div id="sidebar">
                <ul>
                    <li><a href="{% url 'thepetproject:index' %}"><button type="button">Homepage</button></a></li>
                    <li><button>View Posts</button></li>
                    {% if user.logged_in %}
                    <li><button>Upload Post</button></li>
                    {% endif %}
                </ul>
            </div>
            <div id="main">
            {% block main_content %}
                Content of page goes here
            {% endblock %}
            </div>
        </section>
    </body>
</html>