{% extends 'thepetproject/base.html' %}

{% block title_append %}
Create Comment
{% endblock %}
{% block embedded-js %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script>
        function validateForm(){
            var toSend="#comment_text"
            var defaultText = "Your comment goes here..."
            var output = $(toSend).text
            if (output == defaultText) {
                
                return false;
            }
            else{
                return true;
            }
        }
        function new_comment(){
            if (validateForm){
                var redirectURL = "TODO add comment";
                location.href = redirectURL;
            }
            else{
                alert("Please enter your comment.")
            }

        }
    </script>
{% endblock %}
{% block main_content %}
<form onsubmit="new_comment()" method="post">
    <textarea id="#comment_text" name="comment_text">Your comment goes here...</textarea><br><br>
    <input type="submit" value="submit">
</form>
{% endblock %}