{% extends "thepetproject/base.html" %}
{% load staticfiles %}
<head>
{% block title_append %}
Homepage
{% endblock %}

{% block css_link %}
<link rel="stylesheet" href="{% static 'thepetproject/css/index.css' %}" type="text/css">
{% endblock %}
</head>

<body>
{% block main_content %}

<div id="welcometext">
<p>Welcome to The Pet Project, the perfect place to upload and share pictures of your animal friends.</p>
</div>

<div id="posts">

{% for post in posts %}
    <div class="post">
    <img src="/media/{{ post.image }}" alt="An image of someones pet" class ="pic">
        <div class = "grid">
    <h4 class="name">{{ post.user.name }}</h4>
    <h4 class="date">{{ post.date_posted }}</h4>
    <p class="caption"> {{ post.caption }}</p>
    <h4 class="likes">Likes: {{ post.likes }}</h4>
    <h4 class="comments">Comments: {{ post.number_of_comments }}</h4>
        </div>
    </div>

{% endfor %}

</div>

{% endblock %}

</body>