
{% extends "thepetproject/base.html" %}
{% load staticfiles %}
<head>
{% block title_append %}
Homepage
{% endblock %}

{% block embedded-css %}
<link rel="stylesheet" href="{% static 'index.css' %}" type="text/css">
{% endblock %}
</head>

<body>
{% block main_content %}

<div id="welcometext">
<p>Welcome to The Pet Project, the perfect place to upload and share pictures of your animal friends.</p>
</div>

<div id="posts">

{% for post in posts %}
    <div class="post">
    {% if post.image.url is not None %}
        <a href="{% url 'thepetproject:view_individual_post' post.post_id %}"> <img src="{{ MEDIA_URL }}{{ post.image }}" alt="An image of someones pet" class ="pic"></a>
    {% else %}
        <img src="{{ MEDIA_URL }}MissingImage.png" alt="An image of someones pet" class ="pic">
    {% endif %}
        <div class = "grid">
            <p class="name"><b>Username:</b> <a href="{% url 'thepetproject:profile_page' post.user %}">@{{ post.user.user }}</a></p>
            <p class="date"><b>Date Posted:</b> {{ post.date_posted }}</p>
            <p class="caption"><b>Caption:</b> {{ post.caption }}</p>
            <p class="likes"><b>Likes:</b> {{ post.likes }}</p>
            <p class="comments"><b>Comments:</b> {{ post.number_of_comments }}</p>
        </div>
    </div>

{% endfor %}

</div>

{% endblock %}

</body>

