{% extends 'thepetproject/base.html' %}
{% load staticfiles %}

{% block title_append %}
My Account
{% endblock %}

{% block embedded-css %}
<link rel="stylesheet" href="{% static 'my-account.css' %}" type="text/css">
{% endblock %}

{% block main_content %}
<p><strong>Display Name:</strong> <span id="name">{{ userprofile.name }}</span> <button type="button" id="changename">Change</button> <span id="nameentry" style="display:none"><input type="text" name="name"></input> <button type="submit">Submit Change</button></span></p>
<p><strong>Change Password:</strong> <button type="button" id="changepassword">Change</button> <span id="passwordentry" style="display:none"><input type="password" name="password"></input> <button type="submit">Submit Change</button></span></p>
<p><strong>Profile Picture:</strong> <img id="profile-picture" src="{{ MEDIA_URL }}{{ userprofile.picture }}"></img> <span id="pictureentry"><form id="picture-form" method="post" action="{% url 'thepetproject:myaccount' %}" enctype="multipart/form-data">

{% csrf_token %}

{{ profilepictureform.as_p }}

<input type="submit" name="submit" value="Change Picture" /></span></p>

<button id="delete-account">Delete Account</button>

<script type="text/javascript" src="{% static 'my-account.js' %}"></script>
<script>
    var csrfmiddlewaretoken = '{{ csrf_token }}';
</script>


{% endblock %}