{% extends 'thepetproject/base.html' %}
{% load staticfiles %}

{% block title_append %}
My Account
{% endblock %}

{% block embedded-css %}
<link rel="stylesheet" href="{% static 'my-account.css' %}" type="text/css">
{% endblock %}

{% block main_content %}
<p><strong>Display Name:</strong> <span id="name">{{ userprofile.name }}</span> <button type="button" id="changename">Change</button> <span id="nameentry" style="display:none"><input type="text" name="name"></input> <button type="submit">Submit Change</button></span></p>
<p><strong>Change Password:</strong> <button type="button" id="changepassword">Change</button> <span id="passwordentry" style="display:none"><input type="password" name="password"></input> <button type="submit">Submit Change</button></span></p>
<p><strong>Profile Picture:</strong> <img id="profile-picture" src="{{ MEDIA_URL }}{{ userprofile.picture }}"></img> <span id="pictureentry"><form id="picture-form" method="post" action="{% url 'thepetproject:myaccount' %}" enctype="multipart/form-data">

{% csrf_token %}

{{ profilepictureform.as_p }}

<input type="submit" name="submit" value="Change Picture" /></span></p>

<button id="delete-account">Delete Account</button>
<script>
    $(document).ready(function(){
        $("#changename").click(function(){
            $("#nameentry").css("display", "inline");
        });
        
        $("#changepassword").click(function(){
            $("#passwordentry").css("display", "inline");
        });

        $("#changepicture").click(function(){
            $("#pictureentry").css("display", "inline");
        });
        $("#passwordentry button").click(function(){
            $.post('',{
                'csrfmiddlewaretoken':'{{ csrf_token }}',
                'type':'password',
                'password':$('#passwordentry input').val()
            }).done(function(){
                alert("Password Updated");
                $('#passwordentry input').val("");
            })
        });

        $("#nameentry button").click(function(){
            console.log("Button Pressed");
            $.post('',{
                'csrfmiddlewaretoken':'{{ csrf_token }}',
                'type':'name',
                'name':$('#nameentry input').val()
            }, function(data){
                alert("Name Updated");
                location.reload();
            });
        });

        $("#delete-account").click(function(){
            if (window.confirm("Are you sure you want to delete your account? All of your data - posts, profile and comments - will be lost.")){
                $.post("",{
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'type':'delete'
                }, function(data){
                    console.log("done");
                });
            }
        });

    });
</script>

{% endblock %}