{% extends 'thepetproject/base.html' %}
{% load staticfiles %}
{% block title_append %}
View Post
{% endblock %}
    {% block embedded-css %}
    <style>
        #post{border-color: black;
            border-style: solid;
            margin-left: 12%;
            }
        #title_and_image{border-color: black;
            border-left-style: none;
            border-right-style:none;
            border-top-style: none;
            border-bottom-style: solid;}
        #like_and_comment{border-color: black;
            border-left-style: none;
            border-right-style:none;
            border-top-style: solid;
            border-bottom-style: none;}
        
        #like_and_comment_info{
            float: right;
            margin-right: 10px;}
        #comments_section{
            clear: both;
            border-color: black;
            border-style: solid;
            margin-top: 2%;
            margin-bottom: 2%;
            margin-left: 12%;}
        #comments_section h1{margin-left: 1%}
        #comment_info{border-color: black;
            border-left-style: none;
            border-right-style:none;
            border-top-style: none;
            border-bottom-style: solid;}
        #like_comment{
            border-color: black;
            border-left-style: none;
            border-right-style:none;
            border-top-style: solid;
            border-bottom-style: none;}
        #like_comment p{float: right;
                        margin-right: 10px;}
        #user_info{float:left;
                    margin-left: 1%}
        #time_info{float:right;
                    margin-right: 10px;}
        #comment_text{clear: both;
                    border-top-style: solid;}
        #comment_text p {margin-left: 1%}
        #comment_form{display: none;}
        </style>
    {% endblock %}

    {% block embedded-js %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

    <script type="text/javascript">

        function likeButtonFormatting(buttonToEdit){
            $(buttonToEdit).css("background-color", "#236807");
            $(buttonToEdit).css("color", "white");
            $(buttonToEdit).css("border-color", "white");
        }

        function update_likes_on_page(xhttp){
                var textToEdit = "#like_and_comment_info";
                var newText = "{{ post.number_of_comments }} comments     " + xhttp.responseText + " Likes"
                $(textToEdit).$("p").text = newText;
            }

        function like(postOrCommentID, isPost){
            if (isPost){
                var buttonToEdit = "#like_post"
                var like_url = "templates/thepetproject/like&comment_or_post_id=" + postOrCommentID + "&isPost=True"
            }
            else{
                var buttonToEdit = "#like_comment_button"
                var like_url = "templates/thepetproject/like.html?&comment_or_post_id=" + postOrCommentID + "&isPost=True"
            }
            var xhttp = new XMLHttpRequest()
            xhttp.open(GET, like_url, true)
            xhttp.send()
            alert("Liked on DB") // Remove
            xhttp.onreadystatechange = update_likes_on_page(xhttp);
            likeButtonFormatting(buttonToEdit);
        }
        function commentPost(){
            var formToShow="#comment_form"
            $(formToShow).show()
        }
    </script>
    {% endblock %}

    {% block main_content %}

    <div id = "post">
        <div id="title_and_image">
        <img src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.image }}">
        </div>
        <div>
            <p>{{ post.caption }}</p>
        </div>
        <div id="like_and_comment">
            {% if user.is_authenticated %}
                {% if user_has_liked_post %}
                <button id="like_post" onclick="like('{{ post.post_id }}', true)" onload="likeButtonFormatting('#like_post')">Like</button>
                {% else %}
                <button id="like_post" onclick="like('{{ post.post_id }}', true)">Like</button>
                {% endif %}
            <button id="comment_post" onClick="commentPost()">Comment</button>
            {% endif %}
        <div id="like_and_comment_info">
            <p>{{ post.number_of_comments }} comments     {{ post.likes }} Likes</p>
    </div>
</div>
</div>
    <div id="comments_section">
        <h1>Comments</h1>
        {% if comment != "none" %}
        <div id="comment_info">
         <p id="user_info">{{ comment.user.name }} (@ {{ comment.user }})</p>
            <p id="time_info">{{ comment.date_posted }} {{ comment.time_posted }}</p>
        </div>
        <div id="comment_text">
        <p>{{ comment.text }}</p>
        </div>
        <div id = "like_comment">
            {% if user.is_authenticated %}
                {% if user_has_liked_comment %}
                    <button id="like_comment_button" onclick="like('{{ comment.comment_id }}', false)" onload="likeButtonFormatting('#like_comment_button')">Like</button>
                {% else %}
                    <button id="like_comment_button" onclick="like('{{ comment.comment_id }}', false)">Like</button>
                {% endif %}
            {% endif %}
            <p>{{ comment.likes }} Likes<p>
        </div>
        {% endif %}
    </div>

{% endblock %}