{% extends 'thepetproject/base.html' %}
{% load staticfiles %}
{% block title_append %}
View Post
{% endblock %}
    {% block embedded-css %}
    <link rel="stylesheet" href="{% static 'view_individual_post.css' %}" type="text/css">
    {% endblock %}

    {% block embedded-js %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>

    <script type="text/javascript">

        function likeButtonFormatting(buttonToEdit, isUnlike){
            if (!isUnlike){
                $(buttonToEdit).css("background-color", "red");//"#236807");
                $(buttonToEdit).css("color", "white");
                $(buttonToEdit).css("border-color", "white");
            }
            else{
                $(buttonToEdit).css("background-color", "#236807");
                $(buttonToEdit).css("color", "white");
                $(buttonToEdit).css("border-color", "white");
            }
        }

        function like(postOrCommentID, isPost){
            
            var isUnlike = false;

            if (isPost){
                var like_url = "{% url 'thepetproject:like_post' post.post_id %}";
                var buttonToEdit = "#like_post";
                var oldLikes = "{{ post.likes }}";
            }
            else{
                var like_url = "{% url 'thepetproject:like_comment' post.post_id comment.comment_id %}"
                var buttonToEdit = "#like_comment_button"
            }
            var xhttp = new XMLHttpRequest();
            xhttp.open("GET", like_url, true);
            xhttp.send();
            if (isPost){
                xhttp.onreadystatechange = function(){
                    if(this.readyState == 4 && this.status == 200){
                    var newLikes = JSON.parse(this.responseText);
                    newLikes = newLikes.likes;
                    var textToEdit = "#like_and_comment_info_output";
                    var newText = "{{ post.number_of_comments }} comments     " + newLikes + " likes";
                    $(textToEdit).text(newText);
                }
            };
        }
        else{
            xhttp.onreadystatechange = function(){
                if(this.readyState == 4 && this.status == 200){
                    var newLikes = JSON.parse(this.responseText);
                    newLikes = newLikes.likes;
                    var textToEdit = "#comment_likes";
                    var newText = newLikes + " likes";
                    $(textToEdit).text(newText);
                }
            };
        }
        if (newLikes == oldLikes - 1){
            isUnlike = true;
        }
        likeButtonFormatting(buttonToEdit, isUnlike);
    }
    
        function commentPost(post_id){
            //location.href found at: https://stackoverflow.com/questions/16562577/how-can-i-make-a-button-redirect-my-page-to-another-page
            var redirectURL = "{% url 'thepetproject:create_comment' post.post_id %}";
            location.href= redirectURL;
        }
    </script>
    {% endblock %}

    {% block main_content %}
    <div id = "post">
        <div id="title_and_image">
        <img src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.image }}">
        </div>
        <div>
            <p>{{ post.caption }}</p>
        </div>
        <div id="like_and_comment">
            {% if user.is_authenticated %}
                {% if user_has_liked_post %}
                <button id="like_post" onclick="like('{{ post.post_id }}', true)" style="background-color: red;">Like</button>
                {% else %}
                <button id="like_post" onclick="like('{{ post.post_id }}', true)">Like</button>
                {% endif %}
            <button id="comment_post" onClick="commentPost('{{ post.post_id }}')">Comment</button>
            {% endif %}
        <div id="like_and_comment_info">
            <p id="like_and_comment_info_output">{{ post.number_of_comments }} comments     {{ post.likes }} likes</p>
    </div>
</div>
</div>
    <div id="comments_section">
        <h1>Comments</h1>
        {% if comment != "none" %}
        <div id="comment_info">
         <p id="user_info">{{ comment.user.name }} (<a href="{% url 'thepetproject:profile_page' comment.user %}">@{{ comment.user }}</a>)</p>
            <p id="time_info">{{ comment.date_posted }} {{ comment.time_posted }}</p>
        </div>
        <div id="comment_text">
        <p>{{ comment.text }}</p>
        </div>
        <div id = "like_comment">
            {% if user.is_authenticated %}
                {% if user_has_liked_comment %}
                    <button id="like_comment_button" onclick="like('{{ comment.comment_id }}', false)" style="background-color: red;">Like</button>
                {% else %}
                    <button id="like_comment_button" onclick="like('{{ comment.comment_id }}', false)">Like</button>
                {% endif %}
            {% endif %}
            <p id="comment_likes">{{ comment.likes }} likes<p>
        </div>
        {% endif %}
    </div>
    <h1> {{ liked_comment.comment_id }}</h1>
{% endblock %}