{% extends 'thepetproject/base.html' %}
{% load staticfiles %}
{% block title_append %}
View Post
{% endblock %}
    {% block embedded-css %}
    <link rel="stylesheet" href="{% static 'view_individual_post.css' %}" type="text/css">
    {% endblock %}

    {% block embedded-js %}
    <script type="text/javascript" src="{% static 'view_individual_post_page.js' %}"></script>
    {% endblock %}

    {% block main_content %}
    {% if post_exists %}
    <div id = "post">
        <div id="title_and_image">
        <img src="{{ MEDIA_URL }}{{ post.image }}" alt="{{ post.image }}">
        </div>
        <div id="caption">
            <p>{{ post.caption }}</p>
        </div>
        <div id="like_and_comment">
            {% if user.is_authenticated %}
                {% if user_has_liked_post %}
                <button id="like_post" onclick="like('{{ post.post_id }}', true, true, {{ post.likes }}, '{% url 'thepetproject:like_post' post.post_id %}', {{ post.number_of_comments }})" style="background-color: red;">Like</button>
                {% else %}
                <button id="like_post" onclick="like('{{ post.post_id }}', true, false, {{ post.likes }}, '{% url 'thepetproject:like_post' post.post_id %}', {{ post.number_of_comments }})">Like</button>
                {% endif %}
            <button id="comment_post" onClick="commentPost('{{ post.post_id }}', '{% url 'thepetproject:create_comment' post.post_id %}')">Comment</button>
            {% endif %}
        <div id="like_and_comment_info">
            <p id="like_and_comment_info_output">{{ post.number_of_comments }} comments     {{ post.likes }} likes</p>
    </div>
</div>
</div>
    <div id="comments_section">
        <h1>Comments</h1>
        {% if comment %}
        <div id="comment_info">
         <p id="user_info">{{ comment.user.name }} (<a href="{% url 'thepetproject:profile_page' comment.user %}">@{{ comment.user }}</a>)</p>
            <p id="time_info">{{ comment.date_posted }} {{ comment.time_posted }}</p>
        </div>
        <div id="comment_text">
        <p>{{ comment.text }}</p>
        </div>
        <div id = "like_comment">
            {% if user.is_authenticated %}
                {% if user_has_liked_comment %}
                    <button id="like_comment_button" onclick="like('{{ comment.comment_id }}', false, true, {{ comment.likes }}, '{% url 'thepetproject:like_comment' post.post_id comment.comment_id %}',  0)" style="background-color: red;">Like</button>
                {% else %}
                    <button id="like_comment_button" onclick="like('{{ comment.comment_id }}', false, false, {{ comment.likes }}, '{% url 'thepetproject:like_comment' post.post_id comment.comment_id %}', 0)">Like</button>
                {% endif %}
            {% endif %}
            <p id="comment_likes">{{ comment.likes }} likes<p>
        </div>
        {% endif %}
    </div>
    <h1> {{ liked_comment.comment_id }}</h1>
    {% else %}
        <strong>That post does not exist.</strong>
    {% endif %}
{% endblock %}